env/
__pycache__/
plots/
data/
*.pkl
*.log
*.png
# Exclude all .ipynb_checkpoints directories recursively
**/.ipynb_checkpoints/
*.ipynb
.idea/
.vscode/
# Exclude package building files
build/
dist/
xkwant.egg-info/
poetry.lock
xkwant/_plot.py